<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<footer class="page-footer blue">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text" th:text="#{what}"></h5>
                <p class="grey-text text-lighten-4" th:text="#{what_about}"></p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text" th:text="#{footer_links}"></h5>
                <ul>
                    <li><a class="grey-text text-lighten-3"
                           href="https://github.com/Teras23/poll_application/">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright Polap
        </div>
    </div>
</footer>
</html>
