<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<meta name="application-name" content="Polap"/>
<meta name="description" content="Polap is an app for creating easily accessible interactive polls for your students."/>
<meta name="keywords" content="polls,poll app,poll application,questions,question app,question application,quiz,quiz app,quiz application,education,learning,interactive learning,classroom app,interactive classroom"/>

<meta property="accessModeSufficient" content="textual"/>
<meta property="dateModified" content="2018-03-18"/>
<meta property="educationalUSe" content="textual"/>
<meta property="interactivityType" content="active"/>
<meta property="isAccessibleForFree" datatype="xsd:boolean" content="true"/>
<meta property="isFamilyFriendly" datatype="xsd:boolean" content="true"/>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

<link rel="stylesheet" type="text/css" href="/css/materialize.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/app.css"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    /*<![CDATA[*/
    window.jQuery || document.write("<script src='/webjars/jquery/3.3.1-1/jquery.min.js'><\/script>");
    /*]]>*/
</script>
<script src="/js/materialize.min.js"></script>
<script src="/js/app.js"></script>
</html>
