<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:remove="tag">

    <span id="correct-help-wrap">
        <a href="#" class="tooltipped correct-help-link" data-position="right" data-tooltip="käsitsi">
            <i class="material-icons help-icon">info_outline</i>
        </a>
    </span>
    <span class="hide" id="correct-help-text" th:text="#{correct-help}"></span>

    <span id="answer-help-wrap">
        <a href="#" class="tooltipped answer-help-link" data-position="right">
            <i class="material-icons help-icon">info_outline</i>
        </a>
    </span>
    <span class="hide" id="answer-help-text" th:text="#{answer-help}"></span>

</html>
