<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<header>
    <nav>
        <div class="nav-wrapper blue">
            <a href="/" class="brand-logo center">Polap</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">


                <li><a href="/statistics" th:text="#{statistics}"></a></li>
                <li><a href="#" id="language_dropdown_button" class="dropdown-trigger" data-target="language_dropdown">
                    <span th:text="#{language}"></span>
                    <i class="material-icons right">arrow_drop_down</i>
                </a></li>

                <li>
                    <a th:if="${user}" href="#" th:text="${user}"></a>
                </li>
            </ul>
        </div>
    </nav>
    <ul id="language_dropdown" class="dropdown-content">
        <li><a href="?lang=en" rel="alternate" hreflang="en" th:text="#{en_choice}"></a></li>
        <li><a href="?lang=et" rel="alternate" hreflang="et" th:text="#{et_choice}"></a></li>
    </ul>
</header>
</html>
