<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
<header>
    <nav>
        <div class="nav-wrapper blue">
            <a href="/" class="brand-logo center">Polap</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="?lang=en" th:text="#{en_choice}"></a></li>
                <li><a href="?lang=et" th:text="#{et_choice}"></a></li>
                <li><a href="/statistics" th:text="#{statistics}"></a></li>
            </ul>
        </div>
    </nav>
</header>
</html>
