<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:remove="tag">
    <li class="collection-item" th:id="'poll_' + ${poll.id}">
        <div>
            <span class="question-text" th:text="${poll.title}">{question}</span>
            <span class="secondary-content">
                <a href="#" th:attr="data-id=${poll.id}" class="host-button">
                    <i class="material-icons question-list-icon green-text text-darken-3">play_circle_outline</i>
                </a>
                <a th:href="@{/polls/{id}(id=${poll.id})}">
                    <i class="material-icons question-list-icon">edit</i>
                </a>
                <a href="#" th:attr="data-id=${poll.id}" th:class="delete-button">
                    <i class="material-icons question-list-icon red-text text-darken-3">delete</i>
                </a>
            </span>
        </div>
    </li>
</html>
