<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:remove="tag">

<div id="edit-modal" class="modal modal-fixed-footer">
    <div class="modal-content" id="question-edit-modal-content">
        <h4 class="center-align" th:text="#{edit_question}">Edit question</h4>

        <div id="edit-question-form">
            <div class="input-field" id="edit-question-question">
                <textarea id="question" class="materialize-textarea"></textarea>
                <label for="question" th:text="#{question}"></label>
            </div>

            <div class="row" id="edit-question-hint">
                <div class="input-field col s2">
                    <h6 class="center-align" id="correct-text" th:text="#{correct}">Correct?</h6>
                </div>

                <div class="input-field col s8">
                    <h6 class="center-align" id="answer-text" th:text="#{answer}">Answer</h6>
                </div>

                <div class="input-field col s2">
                    <h6 class="right-align">
                        <a href="#" id="delete-help-link" class="tooltipped" data-position="right">
                            <i class="material-icons help-icon" id="delete-help-icon">info_outline</i>
                        </a>
                        <span class="hide" id="delete-help-text" th:text="#{delete-help}"></span>
                    </h6>
                </div>

            </div>

            <div id="answers-wrapper">
                <!-- answers go here -->
            </div>

            <div class="row">
                <div class="col s12">
                    <p class="center-align">
                        <a href="#" id="add_answer_button">
                            <i class="material-icons green-text" id="add-answer-icon"
                               onclick="addAnswer()">add_circle</i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <p class="center-align" id="modal-close-button-wrap">
            <a href="#!" class="modal-action modal-close btn green" id="modal-close-button"
               th:text="#{done}"></a>
        </p>
    </div>
</div>
</html>
