body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* front page */

#login-row {
    margin-top: 40px;
}

#login-img {
    width: 100%;
}

#login-col {
    margin-top: 10px;
}

#login-btn {
    margin-top: 20px;
    margin-bottom: 50px;
}

/* question management page */

#questions-row {
    margin-top: 40px;
}

.question-text {
    font-size: 28px;
}

.question-list-icon {
    font-size: 30px;
}

.add-question-icon {
    font-size: 80px;
}
