<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:lang="#{language_code}"
      vocab="http://schema.org/"
      typeof="WebSite">
<head>
    <title th:text="${poll.title}"></title>
    <th:block layout:include="fragments/head"/>
    <link rel="stylesheet" type="text/css" href="/css/answer.css"/>
    <script src="/js/answer.js"></script>

    <meta id="poll_id" name="pollId" th:content="${poll.id}"/>
    <meta id="session_code" name="sessionCode" th:content="${pollSession.code}"/>
</head>
<body>
<th:block layout:replace="fragments/navigation"/>
<main>
    <div class="container">

        <div class="row">
            <div id="side-col" class="col s12 l4 z-depth-2">

                <h5 id="poll_title" th:text="${poll.title}"></h5>

                <div class="collection" id="questions-collection">
                    <!-- Question templates go here -->
                </div>

            </div>
            <div id="main-col" class="col s12 l8">

                <div>
                    <h6 id="question"></h6>
                </div>

                <div id="answers-div">
                    <!-- Answer templates go here -->
                </div>

                <div class="row">
                    <div class="col l5 offset-l8 m5 offset-m7 s5 offset-s5">
                        <a href="#" id="save-button" th:text="#{save}" class="btn green"></a>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="hide">
        <div id="answer-question-template">
            <a href="#" class="collection-item"></a>
        </div>
        <th:block layout:replace="fragments/answer_answer"/>
    </div>
</main>
<th:block layout:replace="fragments/footer"/>
</body>
</html>
