<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:lang="#{language_code}"
      vocab="http://schema.org/"
      typeof="WebSite">
<head>
    <title th:text="#{frontpage_title}"></title>
    <th:block layout:include="fragments/head"/>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
</head>
<body>
<th:block layout:replace="fragments/navigation"/>
<main>
    <div class="container">
        <h1 class="center-align" th:text="#{login_message}"></h1>
        <div class="center-align">
            <a class="btn-large" th:text="#{login_google}" href="login"></a>
        </div>
    </div>
</main>
<th:block layout:replace="fragments/footer"/>
</body>
</html>
