<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:lang="#{language_code}"
      vocab="http://schema.org/"
      typeof="WebSite">
<head>
    <title th:text="#{polls_title}"></title>
    <th:block layout:include="fragments/head"/>
    <link rel="stylesheet" type="text/css" href="/css/polls.css"/>
    <script src="/js/polls.js"></script>
</head>
<body>
<th:block layout:replace="fragments/navigation"/>
<main>
    <div class="container">
        <h3 class="center-align" th:text="#{manage_polls}"></h3>
        <div class="row" id="poll-row">
            <div class="col s12 m8 offset-m2">
                <ul class="collection" id="poll-wrapper">
                    <!--poll fragments go here-->
                    <th:block th:each="poll : ${polls}">
                        <th:block layout:replace="fragments/poll_poll(poll=${poll})"/>
                    </th:block>
                </ul>

                <p class="center-align">
                    <a href="/create_poll" class="modal-trigger center-align" id="add-poll-button">
                        <i class="material-icons green-text add-question-icon">add_circle</i>
                    </a>
                </p>
            </div>
        </div>

    </div>
    <th:block layout:include="fragments/question_edit"/>
    <div class="hide">
        <th:block layout:replace="fragments/questions_question"/>
        <th:block layout:replace="fragments/question_edit_answer"/>
    </div>
</main>
<th:block layout:replace="fragments/footer"/>
</body>
</html>
