<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Add Question</title>
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>

</head>
<body>
<h1>Questions</h1>
<ul>
    <li th:each="item : ${questionsList}" th:text="${item.text}"/>
    <ul>
        <li th:each="answer : ${answersList}" th:text="${answer.text}"/>
    </ul>
</ul>
<form id="questionsForm" method="post" action="/questions/form" modelAttribute="question">
    <input type="text" th:field="${question.text}"/>
    <input type="text" th:field="${answer.text}"/>
    <input type="submit" value="Add Question"/>
</form>
</body>
<script type="text/javascript" src="/js/questions.js"></script>
</html>
