<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:lang="#{language_code}"
      vocab="http://schema.org/"
      typeof="WebSite">
<head>
    <title th:text="#{statistics_title}"></title>

    <th:block layout:include="fragments/head"/>

    <link rel="stylesheet" type="text/css" href="/css/statistics.css"/>

    <script src="/webjars/d3/5.0.0-rc.3/dist/d3.min.js"></script>
    <script src="/js/pie.js"></script>
    <script src="/js/histogram.js"></script>
    <script src="/js/statistics.js"></script>
</head>
<body>
<th:block layout:replace="fragments/navigation"/>
<main>
    <div class="container">
        <h1 th:text="#{statistics_requests} + ': ' + ${requests_count}"></h1>
        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title" th:text="#{statistics_visitor_browsers}"></span>
                        <div class="pi_chart" id="chart0"></div>
                    </div>

                </div>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title" th:text="#{statistics_visitor_oss}"></span>
                        <div class="pi_chart" id="chart1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block layout:replace="fragments/footer"/>
</body>
</html>
